<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta HTTP-EQUIV="refresh" CONTENT="60">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
    <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/sb-admin-2.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .panel panel-default full-width{
      width: 100px;
      height: 100px;
      background: #f00;
      position: relative;
      top: 30px;
      left: 30px;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top manager-nav no-margin" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand">ISDL</a>
        </div>
        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li style="font-size:14px"><a href="/login/login/equipments/mylist/"><i class="fa fa-user-circle-o" aria-hidden="false"></i>{{request.user.first_name}}{{request.user.last_name}}さん</a></li>
              <li><a href="/login/login/equipments/"><i class="fa fa-list" aria-hidden="true"></i>  物品一覧</a></li>
              {% if request.user.is_superuser %}
                <li><a href="/login/login/equipments/approve/"><i class="fa fa-check-square-o" aria-hidden="true"></i>  承認ページ</a></li>
                <li><a href="/admin/"><i class="fa fa-user" aria-hidden="true"></i>  Admin</a></li>
                {% endif %}
              <!-- <li><a href="/users/"><i class="fa fa-check-square-o" aria-hidden="true"></i>  Users</a></li> -->
              <li><a href="/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a></li>
              <!-- <li><a href="/equipments/new/"><i class="fa fa-check-square-o" aria-hidden="true"></i>  備品の追加</a></li> 20200902 nikushima-->
            </ul>
          </div>
        </div>
      </nav>
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
